@import "~/.config/rofi/config.rasi" 

configuration {
  modi: "clipboard:cliphist-rofi";
  display-clipboard: "📋 Clipboard ";
  disable-history: true;
  display-columns: 2;
  kb-custom-1: "Ctrl-Delete";
  kb-custom-2: "Alt-Delete";
}

entry {
  width: 37%;
  placeholder: "👀 Ctrl-Del to del entry , Alt-Del to wipe";
}

listview {
  columns: 1;
  lines: 8;
}

window {
    width: 1200px;
    height: 900px;
}

