[Unit]
Description=SwayOSD Server Daemon
Documentation=https://github.com/ErikReider/SwayOSD
Wants=swayosd-libinput-backend.service
After=swayosd-libinput-backend.service
After=graphical-session.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=/usr/bin/swayosd-server
Restart=on-failure

[Install]
WantedBy=graphical-session.target
