[Unit]
Description=react to hyprland ipc events in bash
; PartOf=graphical-session.target
After=graphical-session.target
ConditionEnvironment=HYPRLAND_INSTANCE_SIGNATURE

[Service]
Type=simple
; ExecCondition=/lib/systemd/systemd-xdg-autostart-condition "Hyprland" ""
ExecStart=/home/kuba/.local/bin/hyprevents
Restart=on-failure
Slice=background-graphical.slice

[Install]
WantedBy=graphical-session.target
