[Unit]
Description=Hourly btrbk backup
Documentation=man:btrbk(1)

[Timer]
OnBootSec=10min
OnUnitActiveSec=1h
Persistent=false

[Install]
WantedBy=timers.target