#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Google Calendar (Priv)
Exec=/usr/bin/chromium "--profile-directory=Profile 1" --app=https://calendar.google.com
Icon=chrome-kjbdgfilnfhdoflbpgamdcdgpehopbep-Default
StartupWMClass=chrome-calendar.google.com__-Profile_1
