[Desktop Entry]
Type=Application
Version=1.5
Name=Reclaim
Icon=/home/kuba/.config/zen/gnmpdd8e.Default (release)/taskbartabs/icons/96cb1046-ed6d-4957-aa92-90c7781ceabf.png
Exec="/opt/zen-browser-bin/zen-bin" "-taskbar-tab" "96cb1046-ed6d-4957-aa92-90c7781ceabf" "-new-window" "https://app.reclaim.ai/" "-profile" "/home/kuba/.config/zen/gnmpdd8e.Default (release)" "-container" "1"

